*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    color: #ccc;
    text-align: center;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}
h1:hover{
    color: #555;
}
li{
    list-style: none;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.contenedorimg{
    margin: 0.5em;
}
.links{
    /* display: block; */
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
    width: 80%;
    a#ref{
        background-color: #aaa;
        border: 1px solid #999;
        border-radius: 15px;
        width: 100%;
        height: 50px;
        margin: 5px;
        font-size: 2em;
        color: #000;
        text-decoration: none;
        display: inline-block;
        padding: 0 auto;
        text-align: center;
        max-inline-size: 600px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 800;
    }
}
a#ref:hover{
    background-color: #fc4b08;
    cursor: pointer;
    color: #000;
    font-size: 2.5em;
}
a#ref:active{
    background-color: #fc4b08;
    cursor: pointer;
    color: #000;
}
#profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ccc;
}
#profile:hover{
    border: 2px solid #555;
}
.description{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
}
.description:hover{
    border: 1px solid #555;
}
p:hover{
    color: #555;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
/*     margin-top: 1.5em; */
} 
.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#logo{
    width: 45px;
    height: 45px;
    background-color: #999;
    margin: 15px;
}
#logo:hover{
    background-color: #fc4b08;
}
