*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #111;
    color: #ccc;
    text-align: center;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}
h1:hover{
    color: #555;
}
li{
    list-style: none;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}
.links{
    display: block;
    a{
        background-color: #999;
        border: 1px solid #999;
        border-radius: 15px;
        width: 450px;
        height: 50px;
        margin: 5px;
        font-size: 2em;
        color: #ccc;
        text-decoration: none;
        display: inline-block;
        padding: 0 auto;
    }
}
a:hover{
    background-color: #fc4b08;
    cursor: pointer;
    color: #000;
    font-size: 2.5em;
}
a:active{
    background-color: #fc4b08;
    cursor: pointer;
    color: #000;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ccc;
}
img:hover{
    border: 2px solid #555;
}
.description{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
}
.description:hover{
    border: 1px solid #555;
}
p:hover{
    color: #555;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 1.5em;
}